<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="application.Properties.Settings.PostgresqlProd" connectionString="Host=roundhouse.proxy.rlwy.net;Port=15481;Database=railway;User Id=postgres;Password=quQDOxYuLrkpFJchiWzkYeOWzzYcdxwl;" />
  <add name="application.Properties.Settings.PostgresqlDev" connectionString="Host=localhost;Port=5432;Database=storage;User Id=slava;Password=1;" />
 </connectionStrings>
 <userSettings>
		<application.Properties.Settings>
   <setting name="AuthEmail" serializeAs="String">
    <value />
   </setting>
   <setting name="AuthPassword" serializeAs="String">
    <value />
   </setting>
  </application.Properties.Settings>
	</userSettings>
</configuration>