<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgresql"
             connectionString="Host=roundhouse.proxy.rlwy.net;Port=15481;Database=railway;User Id=postgres;Password=quQDOxYuLrkpFJchiWzkYeOWzzYcdxwl;"
			 
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>